{% extends "base.html" %}

{% block content %}
    <h2>Catalogue de Produits 📦</h2>
    
    <p><a href="{{ url_for('add_product') }}">Ajouter un nouveau produit</a></p>

    {% if products %}
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prix</th>
                <th>Quantité</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.price | round(2) }} $</td>
                <td>{{ product.quantity }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Aucun produit n'a été trouvé.</p>
    {% endif %}

{% endblock %}
